<page-header title="'Container details'" breadcrumbs="[{label:'Containers', link:'docker.containers'}, (container.Name | trimcontainername)]"> </page-header>

<div class="mx-4 space-y-4 [&>*]:block mb-4">
  <container-actions-section ng-if="container" environment-id="endpoint.Id" node-name="nodeName" container="container" on-success="(onSuccessAction)"></container-actions-section>

  <container-status-section
    ng-if="container"
    environment-id="endpoint.Id"
    node-name="nodeName"
    container="container"
    on-success-update="(onSuccessAction)"
    registry-id="getRegistryId()"
  ></container-status-section>
</div>

<!-- access-control-panel -->
<access-control-panel
  ng-if="container"
  resource-id="container.Id"
  resource-control="container.ResourceControl"
  resource-type="resourceType"
  on-update-success="(onUpdateResourceControlSuccess)"
  environment-id="endpoint.Id"
>
</access-control-panel>
<!-- !access-control-panel -->

<docker-health-status ng-if="container.State.Health" health="container.State.Health"></docker-health-status>

<div class="mx-4 space-y-4 [&>*]:block mb-4">
  <create-image-section environment-id="endpoint.Id" container-id="container.Id" on-success="(onSuccessAction)"></create-image-section>

  <container-details-section
    environment-id="endpoint.Id"
    container-id="container.Id"
    container="container"
    node-name="applicationState.endpoint.mode.provider === 'DOCKER_SWARM_MODE' && container.NodeId ? container.NodeId : undefined"
  >
  </container-details-section>

  <volumes-section volumes="container.Mounts" node-name="nodeName"></volumes-section>
</div>

<docker-container-networks-datatable ng-if="container.NetworkSettings.Networks" dataset="container.NetworkSettings.Networks" container="container" node-name="nodeName">
</docker-container-networks-datatable>
