<page-header title="'Container details'" breadcrumbs="[{label:'Containers', link:'docker.containers'}, (container.Name | trimcontainername)]"> </page-header>

<div class="mx-4 space-y-4 [&>*]:block mb-4">
  <container-actions-section ng-if="container" environment-id="endpoint.Id" node-name="nodeName" container="container" on-success="(onSuccessAction)"></container-actions-section>

  <container-status-section
    ng-if="container"
    environment-id="endpoint.Id"
    node-name="nodeName"
    container="container"
    on-success-update="(onSuccessAction)"
    registry-id="getRegistryId()"
  ></container-status-section>
</div>

<!-- access-control-panel -->
<access-control-panel
  ng-if="container"
  resource-id="container.Id"
  resource-control="container.ResourceControl"
  resource-type="resourceType"
  on-update-success="(onUpdateResourceControlSuccess)"
  environment-id="endpoint.Id"
>
</access-control-panel>
<!-- !access-control-panel -->

<docker-health-status ng-if="container.State.Health" health="container.State.Health"></docker-health-status>

<div class="mx-4 space-y-4 [&>*]:block mb-4">
  <create-image-section environment-id="endpoint.Id" container-id="container.Id" on-success="(onSuccessAction)"></create-image-section>

  <container-details-section
    environment-id="endpoint.Id"
    container-id="container.Id"
    container="container"
    node-name="applicationState.endpoint.mode.provider === 'DOCKER_SWARM_MODE' && container.NodeId ? container.NodeId : undefined"
  >
  </container-details-section>
</div>

<div class="row" ng-if="container.Mounts.length > 0">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="database" title-text="Volumes"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table" data-cy="container-volumes-table">
          <thead>
            <tr>
              <th>Host/volume</th>
              <th>Path in container</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="vol in container.Mounts">
              <td ng-if="vol.Type === 'bind'">{{ vol.Source }}</td>
              <td ng-if="vol.Type === 'volume'"
                ><a ui-sref="docker.volumes.volume({ id: vol.Name, nodeName: nodeName })">{{ vol.Name }}</a></td
              >
              <td>{{ vol.Destination }}</td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<docker-container-networks-datatable ng-if="container.NetworkSettings.Networks" dataset="container.NetworkSettings.Networks" container="container" node-name="nodeName">
</docker-container-networks-datatable>
