<page-header ng-if="endpoint" title="'Environment details'" breadcrumbs="[{label:'Environments', link:'portainer.endpoints'}, endpoint.Name]" reload="true"> </page-header>

<div>
  <div class="mx-4 space-y-4 [&>*]:block mb-4" ng-if="state.edgeEndpoint">
    <edge-information-panel
      ng-if="state.edgeAssociated"
      environment-id="endpoint.Id"
      edge-key="endpoint.EdgeKey"
      edge-id="endpoint.EdgeID"
      platform-name="state.platformName"
      on-success="(onDisassociateSuccess)"
    >
    </edge-information-panel>

    <div ng-if="!state.edgeAssociated">
      <edge-agent-deployment-widget edge-key="endpoint.EdgeKey" edge-id="endpoint.EdgeID" async-mode="endpoint.Edge.AsyncMode"></edge-agent-deployment-widget>
    </div>
  </div>

  <div class="mx-4 space-y-4 [&>*]:block mb-4">
    <kube-config-info environment-id="endpoint.Id" environment-type="endpoint.Type" edge-id="endpoint.EdgeID" status="endpoint.Status"></kube-config-info>
  </div>
</div>

<div class="row" ng-if="endpoint">
  <div ng-if="state.azureEndpoint" class="col-sm-12">
    <azure-environment-form environment="endpoint" on-success="(onUpdateSuccess)"></azure-environment-form>
  </div>

  <div class="col-lg-12 col-md-12 col-xs-12" ng-if="state.edgeEndpoint">
    <edge-environment-form environment="endpoint" on-success="(onUpdateSuccess)"></edge-environment-form>
  </div>

  <div class="col-lg-12 col-md-12 col-xs-12" ng-if="!state.azureEndpoint && !state.edgeEndpoint">
    <general-environment-form environment="endpoint" on-cancel="(cancelUpdateEndpoint)" on-success="(onUpdateSuccess)"></general-environment-form>
  </div>
</div>
